{% extends "base.html" %}

{% block content %}

<div class="main-panel">        
  <div class="content-wrapper" style="margin-left: 350px; text-align: center;">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Реєстрація</h4>
            <br>

            <form id="form1" class="forms-sample" action="/register" method="post">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" style="text-align: center;">
                <small id="username-err" style="color:red"></small>
              </div>

              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" style="text-align: center;">
                <small id="email-err" style="color:red"></small>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" style="text-align: center;">
                <small id="password-err" style="color:red"></small>
              </div>

              <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Password" style="text-align: center;">
                <small id="confirm_password-err" style="color:red"></small>
              </div>

              <button id="submit-btn" type="submit" class="btn btn-primary me-2">Submit</button>
              <a href="/index" class="btn btn-light">Cancel</a>
              <br>
              <br>
              <a href="/login">Вже зареєстровані?</a>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', path='/js/signup/signup_validation.js') }}"></script>

{% endblock %}
