<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>TradePulse - Home</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/vendors/feather/feather.css">
  <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/static/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/static/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/static/js/select.dataTables.min.css">
  <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="/static/css/vertical-layout-dark/dark-theme.css">
  <link rel="shortcut icon" href="/static/images/favicon.png" />

  <!-- Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Dewi
  * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">TradePulse</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn" href="/overview">Get Started</a>

    </div>
  </header>

  <main class="main d-flex justify-content-center align-items-center" style="min-height: 100vh; background: url('/static/assets/img/hero-bg.jpg') center/cover no-repeat;">

  <div class="login-form-container p-5 rounded-4 shadow-lg" style="
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      max-width: 400px;
      width: 90%;
      border: 1px solid rgba(255, 255, 255, 0.2);
    ">
    <h2 class="text-center mb-4 text-light fw-bold">Create Your Account</h2>

    <form id="login-form" action="/register" method="post" class="text-light">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control bg-transparent text-light border-light" id="username" name="username" placeholder="Enter your username" required>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control bg-transparent text-light border-light" id="email" name="email" placeholder="Enter your email" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control bg-transparent text-light border-light" id="password" name="password" placeholder="Enter your password" required>
    </div>

    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm password</label>
        <input type="password" class="form-control bg-transparent text-light border-light" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
    </div>

    <!-- сообщение об ошибке -->
    <p id="auth-message" class="text-center mt-2"></p>
    <br>  
    <button id="submit-btn" type="submit" class="btn w-100 text-light" style="background-color: #007bff; border-radius: 20px;">Register</button>

    <p class="mt-3 text-center">Already registered? <a href="/login" class="text-info">Login</a></p>
    </form>

    <!-- Google Auth -->
    <button type="button" 
            class="btn w-100 text-light mt-3" 
            style="background-color: #007bff; border-radius: 20px;">
      <i class="bi bi-google me-2"></i> Sign in with Google
    </button>

  </div>

</main>


  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="#" class="logo d-flex align-items-center">
            <span class="sitename">TradePulse</span>
          </a>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <script src="/static/vendors/js/vendor.bundle.base.js"></script>
  <script src="/static/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/static/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/static/js/off-canvas.js"></script>
  <script src="/static/js/hoverable-collapse.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/todolist.js"></script>
  <script src="/static/js/dashboard.js"></script>
  <script src="/static/js/Chart.roundedBarCharts.js"></script>

  <!-- Main JS File -->
  <script src="/static/assets/js/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', path='/js/signup/signup_validation.js') }}"></script>

</body>

</html>